<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern {% if include.expand %}flex-fill{% endif %}">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title  text-center">Contact Us</h2>
      <p>
      Enquiries regarding RSE support for projects: <a href="mailto:rse@sheffield.ac.uk">rse@sheffield.ac.uk</a>
      </p>
      <p>
      Book a <a href="https://rse.shef.ac.uk/support/code-clinic/">Code Clinic session</a>
      <p>
      </p>
      Contact the <a href="/contact/team/">RSE team</a> about 
      <a href="/community/seminars/">seminars</a>, <a href="/training/">training</a> or 
      <a href="/community/resources-and-equipment/#jade-tier-2-gpu-cluster">JADE</a>: 
      <a href="mailto:rse-team-group@sheffield.ac.uk">rse-team-group@sheffield.ac.uk</a>
      </p>
    </div><!--//contact-inner-->
  </div><!--//container-->
</section><!--//contact-->
